
  .strayder-container {
    position: relative;
    width: 15rem;
    flex-shrink: 0;
  }

  .strayder1 {
    width: 100%;
  }

  .favi {
    display: none;
    width: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-fill-mode: forwards;
  }

  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  .middle-separation-child1,
  .middle-separation-child2 {
    margin: 0;
    border-radius: var(--br-31xl);
    background-color: var(--color-white);
    width: 40px;
    height: 6px;
  }
  .middle-separation-child2 {
    margin-top: 12px;
  }
  .burger_menu {
    display: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  .links-buttons1,
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .links-buttons1 {
    gap: var(--gap-26xl)
  }
  .navbar {
    position: relative;
    z-index: 1000;
    width: calc(100% - 10%);
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 5%;
    justify-content: space-between;
    text-align: left;
    font-size: var(--font-size-base);
  }

  @media screen and (max-width: 960px) {
    .links-buttons1 {
      display: none;
    }
    .strayder-container {
      display: none;
    }
    .burger_menu {
      display: block;
    }
    .navbar {
      top: 60px;
    }
    .favi {
      display: block;
    }
  }